# Dashboard generated/data files
Dashboard/dashboard_data/
Dashboard/*.parquet
Dashboard/precompiled_map.json
Dashboard/assets/lsoas.json

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
